
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Racing+Sans+One&display=swap');


body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(to right, #0b2545, #640d14, #3c153b, #231942, #0d0c1d);
  color: #6d23b6;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}